/Alive.class
/Celly.class
/Chest.class
/EffectWindow.class
/Entity.class
/Interactable.class
/Inventory.class
/Key.class
/Lock.class
/Lockable.class
/OpenChest.class
/Point.class
/Portal.class
/Tile.class
/Virus.class
